#grid {
  width: 600px;
  background-color: rgb(41, 0, 0);
  border: 5px solid rgb(4, 255, 4);
}
.row {
  height: 124px;
  margin-bottom: 10px;
  border: 5px solid rgb(255, 188, 188);
}
.item {
  background-color: green;
  border: 3px solid white;
  color: white;
  padding: 5px;
  height: 70px;
}
.one { background-color: teal; }
.two { background-color: thistle; }
.three { background-color: tomato; }
.four { background-color: turquoise; }
.five { background-color: violet; }
.six { background-color: yellowgreen; }
.seven { background-color: teal; }
.eight { background-color: thistle; }
.nine { background-color: tomato; }
.ten { background-color: turquoise; }