#grid {
  display: grid;
  grid-template-columns: 242.5px 242.5px 242.5px 242.5px;
  grid-template-rows: 124px 124px 124px 124px 124px;
  grid-gap: 10px;
}

.item {
  background-color: green;
  border: 3px solid white;
  color: white;
  padding: 5px;
  height: 70px;
}

.one {
  grid-column: span 4;
  grid-row: 1;
}

.two {
  grid-column: 1;
  grid-row: span 4;
}

.three {
  grid-column: 2;
  grid-row: 2;
}

.four {
  grid-column: span 2;
  grid-row: 2;
}

.five {
  grid-column: 2 / span 2;
  grid-row: 3;
}

.six {
  grid-column: 4;
  grid-row: 3;
}

.seven {
  grid-column: 2;
  grid-row: 4;
}

.eight {
  grid-column: 3;
  grid-row: 4;
}

.nine {
  grid-column: 4;
  grid-row: 4;
}

.ten {
  grid-column: span 3;
  grid-row: 5;
}
